<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button href="/home">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="text-center">Sign In</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>
      <div class="form-group">
        <a href="/dashboard" class="btn btn-danger btn-block">Sign In</a>
      </div>
    </form>
  </ion-content>
  