<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Phone Number">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Full Name">
    </div>
    <div class="form-group">
      <select class="form-control">
        <option>-- Select Business Type--</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-danger btn-block">Sign Up</button>
    </div>
  </form>
</ion-content>
