<ion-content padding class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
    </div>
  </nav>
  <main>
    <div class="position-relative bg-primary mb-3">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-150">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-sm-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">
                  <ion-icon name="sunny" size="large"></ion-icon>
                  Today
                  <a href="/home" class="btn btn-danger pull-right">
                    Logout
                  </a>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-warning">Supplies</div>
            <a href="/supplies" class="btn btn-lg btn-warning">
              <i class="ni ni-basket"></i>  
              Click to record supplies 
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title text-success">Sales</div>
            <a href="/sales" class="btn btn-lg btn-success">
              <i class="ni ni-fat-add"></i>  
              Click to record supplies 
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title text-danger">Expenses</div>
            <a href="/expenses" class="btn btn-lg btn-danger">
              <i class="ni ni-fat-delete"></i>  
              Click to record supplies 
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer has-cards">
    <div class="container">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-12">
          <div class="copyright text-center">
            &copy; 2019 Designed and Powered by 
            <a href="https://www.aradhel.com" target="_blank">Aradhel Technologies Limited</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>  
</ion-content>
