<ion-content padding class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
    </div>
  </nav>
  <main>
    <div class="position-relative bg-primary mb-3">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-150">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">Bank Name
                  <span>Customer Savings</span>
                </h1>
                <p class="lead  text-white">We cater for all financial needs.</p>
                <div class="btn-wrapper">
                  <a href="/createaccount" class="btn btn-info btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                    <span class="btn-inner--text">Create Account</span>
                  </a>
                  <a href="/login" class="btn btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-key-25"></i></span>
                    <span class="btn-inner--text">Sign In</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
  </main>
  <footer class="footer has-cards">
    <div class="container">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-12">
          <div class="copyright text-center">
            &copy; 2019 Designed and Powered by 
            <a href="https://www.aradhel.com" target="_blank">Aradhel Technologies Limited</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>  
</ion-content>
